@charset "utf-8";
/*PC・タブレット・スマホ共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*サイト説明文
---------------------------------------------------------------------------*/

#description {
    color: #e6afcf;
    font-size: 25px;
}

/*現在地検索及び住所検索共通の設定
---------------------------------------------------------------------------*/

.serachArea_wrapper {
    padding-bottom: 20px;
}

.input_adjust {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}

input[type=radio] {
    width: 50px;
    height: 50px;
}

.button {
    display: inline-block;
    border-radius: 50%;
    /* 角丸       */
    font-size: 26pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 20px 20px;
    /* 余白       */
    background: #00007f;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 4px 4px 3px #666666;
    /* 影の設定 */
    border: 2px solid #00007f;
    /* 枠の指定 */
}

.button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #00007f;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

.search {
    border-left: 3px dotted #56a764;
    border-bottom: 3px dotted #56a764;
    border-right: 3px dotted #56a764;
    border-radius: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.radioButton_text {
    display: inline-block;
}

.radius_select {
    font-size: 30px;
    border: 2px;
    width: 100px;
    height: 50px;
}

input[type=search] {
    height: 40px;
    margin: 20px 0;
    font-size: 30px;
}

#expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
    width: 60%;
    font-size:40px;
}

#expand-btn:hover {
    cursor: pointer;
}

/*現在地検索の設定
---------------------------------------------------------------------------*/

#current_location_check {
    display: none;
}

#current_location_serch_area {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

#current_location_check:checked ~ #current_location_serch_area {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}


/*住所検索の設定
---------------------------------------------------------------------------*/

#AddressSerach_check {
    display: none;
}

#adress_search_area {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

#expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
    width: 60%;
    font-size:40px;
}

#AddressSerach_check:checked ~ #adress_search_area {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

